body {
  width: 60em;
  margin: 0;
  display: grid;
  grid-template-areas: "header header header header"
                        "content-y content-r sidebar sidebar"
                        "footer footer sidebar sidebar";
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  grid-area: header;
}

#orange {
  background-color: #ffc788;
  grid-area: footer;
}

#yellow {
  background-color: #ffff92;
  grid-area: content-y;
}

#red {
  background-color: #ff919c;
  grid-area: content-r;
}

#blue {
  background-color: #98d2ff;
  grid-area: sidebar;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto ;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
